<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../include/head.ejs") %>
  </head>
  <body>
    <%- include("../include/nav.ejs") %>
    <h1>Student Information</h1>
    <ul>
      <% student.map((item)=>{%>
      <li>
        <a href="/student/<%= item.id%>/<%= item.name%>"> <%= item.name %> </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
